[Desktop Entry]
Type=Application
Name=Warframe Tracker Kiosk
Exec=chromium --kiosk --noerrdialogs --disable-infobars --disable-session-crashed-bubble --touch-events=enabled http://127.0.0.1:8000/display
X-GNOME-Autostart-enabled=true
